/**
 * Web fonts
 */
@import url('https://fonts.googleapis.com/css?family=Anton');

/**
 * Styles
 */
.element-block {
    font-family: 'Anton', sans-serif;
    font-size: 1.5rem;
    min-width: 150px;
    max-width: 200px;
    width: 180px;
    border-radius: 5px;
    box-shadow: 0 0 2px #b7b7b7;
}

.element-block div:hover {
    border-radius: 5px;
    box-shadow: 0 0 8px #b7b7b7;
    cursor: -webkit-grab; 
    cursor: grab;
}

.element-block div:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.element-block>div {
    padding: 15px 0;
    text-align: center;
}