.featured {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.8;
    white-space:nowrap;
    /*Dark blue: #294374, Blue: #106dba*/
}

.text-na-dark-blue {
    color: #294374;
}

.text-na-blue {
    color: #106dba;
}

.background-na-blue {
    background:  #106dba;
}

.shelf {
    background: #fafafa;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    margin: 5px;
}

.shelf-flex-container {
    display: flex;
}

.shelf-flex-container-inner {
    width: 100%;
    text-align: center;
}

.text-center {
    text-align: center !important;
}

.shelf-border-right {
    border-right: 2px solid #294374 !important;
}